*{
	margin:0;
	padding:0;
}
.container{
	width:1140px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
/* batdau header */
header{
	background:#996699;
	padding-top:57px;
	
}
.logo .nav{
	float:left;
}
.logo{
	
}
/* ketthuc header */