.container{
	width:1170px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
.logo{
	width:30%;
	padding:100px 0;
	background:#f00;
	float:left;
}
.menu{
	width:70%;
	padding:100px 0;
	background:#fee;
	float:left;
}
.left{
	width:20%;
	padding:25px 0;
	background:#ff9;
	float:left;
}
.center{
	width:60%;
	padding:25px 0;
	background:#f0f;
	float:left;
}
.body{
	width:30%;
	float:left;
}
.die{
	width:70%;
	float:left;
}
.canvas{
	padding:150px 0;
	background:#1950cc;
}
.canvass{
	padding:150px 0;
	background:#0020ff;
}
.head{
	padding:100px 0;
	background:#04ff00;
}
.headd{
	padding:100px 0;
	background:#303138;
}
.headf{
	padding:100px 0;
	background:#9eda0d;
}
.item{
	float:left;
	padding:50px 0;
	width:25%;
	background:#f0c;
}
	width:25%;
	padding:50px 0;
	background:#f0f;
	float:left;
}