.container{
	width:1280px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
.item-b{
	width:25%;
	padding:100px 0;
	background:#f0f;
	float:left;
}
.item-c{
	width:75%;
	padding:100px 0;
	background:#ff66ff;
	float:left;
}
.item-a{
	width:20%;
	padding:50px 0;
	background:#330033;
	float:left;
	
}
.item-e{
	width:20%;
	padding:50px 0;
	background:#b300b3;
	float:left;
	
}
.item-r{
	width:20%;
	padding:50px 0;
	background:#ffccff;
	float:left;
	
}
.item-t{
	width:20%;
	padding:50px 0;
	background:#666600;
	float:left;
	
}
.item-y{
	width:20%;
	padding:50px 0;
	background:#ffff33;
	float:left;
	
}
.qwert{
	width:25%;
	float:left;
}
.danh-sach{
	width:60%;
	float:left;
}
.gia-sp{
	width:15%;
	float:left;
}
.qwe{
	padding:200px 0;
	background:#ff3333;
}
.qwer{
	padding:200px 0;
	background:#990000;
}
.danh-sach-a{
	padding:100px 0;
	background:#4d0000;
}
.danh-sach-b{
	padding:100px 0;
	background:#1a0000;
}
.danh-sach-c{
	padding:100px 0;
	background:#000000;
}
.danh-sach-d{
	padding:100px 0;
	background:#ff9999;
}
.gia-sp-a{
	padding:200px 0;
	background:#666600;
}
.gia-sp-b{
	padding:200px 0;
	background: #ffff00;
}
.ttu{
	width:25%;
	padding:25px 0;
	background:#4d4d00;
	float:left;
}
.fad-a{
	width:10%;
	padding:25px 0;
	background:#ffff1a;
	float:left;
}
.fad-b{
	width:10%;
	padding:25px 0;
	background: #ffff80;
	float:left;
}
.fad-c{
	width:10%;
	padding:25px 0;
	background:#ffff4d;
	float:left;
}
.fad-d{
	width:10%;
	padding:25px 0;
	background:#ffffb3;
	float:left;
}
.fad-e{
	width:10%;
	padding:25px 0;
	background:#ffff1a;
	float:left;
}
.hh{
	width:25%;
	padding:25px 0;
	background:#ffffcc;
	float:left;
}
.ta{
	width:100%;
	padding:35px 0;
	background:#0000ff;
	float:left;
}